:root {
	--color-common-white: #FFFFFF;
	--color-bg-white: #F2F2F2;
	--color-grey: #EFEFEF;
	--color-grey-light: #F5F5F5;
	--color-grey-dark: #3D4044;
	--color-grey-link: #B8B8B8;
	--color-blue: #3E65BE;
	--color-blue-light: #7EA4E7;
	--color-blue-grey: #C6D2E5;
	--color-blue-grey-dark: #253F4B;
	--color-blue-grey-darker: #223A45;
	--color-grey-breadcrumbs: #959595;
	--color-grey-breadcrumbs-slash: #A6A6A6;
	--color-grey-board-header-divider: #E9E9E9;
	--color-pink: #E96880;
}
