.board-column-editing {
  display: flex;
  justify-content: space-between;

  &__column-title {
    display: flex;
    align-items: center;
  }

  &__label {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    margin-left: 8px;
  }

  &__button-list {
    @include reset-list;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 40px;
  }
}
