.sidebar-manage-icons {
  &__list {
    @include reset-list;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__item {
    margin-bottom: 20px;

    &--open-button {
      display: flex;
      align-items: center;
      width: 80px;
      height: 80px;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 80px;
      padding-left: 20px;
      border-radius: 50%;
      background-color: var(--color-grey-sidebar-open-button);
    }

    &:last-child {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}
